body {
  text-align: center;
  background-color: #000;
 }

#page-wrap {
  text-align: left;
  width: 1100px;
  margin: 0 auto;
}

.logo {
  width: 80%;
}

.dLogo {
  width: 50%;
}

.links {
  font-size: 40px;
}

a {
  color: #817452;
  text-decoration: none;
}

.pad {
  padding-top: 2.5em;
  border-bottom: 1px solid #817452;
}

.legal {
  padding-top: 2.5em;
  border-top: 1px solid #817452;
}

.orgs {
  width: 50%;
}

.orgs2 {
  width: 100%;
}

.info {
  height: 570px;
}

/* scrollbar css */
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #817452;
}
