body {
  text-align: center;
  background-color: #000;
  font-family: Helvetica, Sans-Serif;
  color: #fff;
 }

#page-wrap {
  text-align: left;
  width: 1100px;
  margin: 0 auto;
}

.logo {
  max-width: 80%;
}

.dLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.links {
  font-size: 25px;
}

a {
  color: #fff;
  text-decoration: none;
  background-color: transparent !important;
}

a:hover {
  color: #bb0404;
}

.pad {
  padding-top: 2.5em;
  border-bottom: 1px solid #bb0404;
}

.legal {
  padding-top: 2.5em;
  border-top: 1px solid #bb0404;
}

.imdb {
  max-width: 80%;
}

.wf {
  max-width: 70%;
}

.ig{
  max-width: 50%;
}

.fb{
  max-width: 50%;
}

.vc {
  max-width: 70%;
}

.info {
  background-image: url('img/wallpaper.jpg');
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

img.wrap {
  padding: 2em;
  float: left;
}

.press {
  max-width: 150px;
}

/* scrollbar css */
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #817452;
}
